<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.schiller.tlsmetric" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name="de.schiller.tlsmetric.Activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.schiller.tlsmetric.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="de.schiller.tlsmetric.Activities.ReportDetailActivity"
            android:label="@string/headline_report_detail"
            android:parentActivityName="de.schiller.tlsmetric.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.schiller.tlsmetric.Activities.MainActivity" />
        </activity>
        <activity
            android:name="de.schiller.tlsmetric.Activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="de.schiller.tlsmetric.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.schiller.tlsmetric.Activities.MainActivity" />
        </activity>
        <activity
            android:name="de.schiller.tlsmetric.Activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="de.schiller.tlsmetric.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.schiller.tlsmetric.Activities.MainActivity" />
        </activity>
        <activity
            android:name="de.schiller.tlsmetric.Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.schiller.tlsmetric.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.schiller.tlsmetric.Activities.MainActivity" />
        </activity>
        <activity
            android:name="de.schiller.tlsmetric.Activities.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

      <service
            android:name="de.schiller.tlsmetric.ConnectionAnalysis.PassiveService"
            android:label=".NetMonitorPassiveService"
            android:enabled="true"
            android:permission="android.permission.BIND_SERVICE" >
        </service>

    </application>

</manifest>
